.main {
	display: grid;
	grid-template-rows: 1fr 4fr;
	justify-content: stretch;
	gap: 15px;
	padding: 25px;
}

.user-input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#query {
	padding: 10px 15px;
	border-radius: 10px;
}

#parse-query {
	padding: 10px;
	font-weight: 700;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #3e8be4;
	color: white;
	transition: 150ms opacity;
}

#parse-query:hover {
	opacity: 0.8;
}