h2 {
	text-align: center;
	
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

.main {
	display: grid;
	grid-template-rows: 1fr;
	justify-content: stretch;
	gap: 25px;
	padding: 25px;
}

.corpo {
	background-color: #f9f9f9;
	padding: 25px;
	border-radius: 20px;
	border: 4px solid black;
}

.user-input {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 50px;
}

.error-message {
	color: rgb(194, 48, 48);
	font-weight: 700;
	animation: fade 300ms forwards 1;
}

.results {
	display: flex;
	flex-direction: column;
	gap: 10px;
	grid-template-rows: 0.1fr auto;
	align-items: center;
}

.test {
	background: red;
	padding: 250px;
}

#query {
	width: 100%;
	padding: 10px 15px;
	border-radius: 10px;
}

#parse-query {
	width: clamp(150px, 10%, 300px);
	height: 30%;
	padding: 10px;
	font-weight: 700;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #3e8be4;
	color: white;
	transition: 150ms opacity;
}

#parse-query:hover {
	opacity: 0.8;
}

#parse-query:active {
	background-color: blue;
}

#results-body {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
}

#graph {
	overflow-x: auto;
	overflow-y: auto;
	box-sizing: content-box;
	border-radius: 5px;
	border: 0.3px solid #800080;
	display: flex;
	min-width: 100%;
	justify-content: stretch;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}